<form>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>
  <div class="form-group">
    <input class="form-control" type="text" name="roomType" placeholder="roomType">
  </div>

  <div>

  </div>

</form>
