<div class="container" *ngIf="room.availableRooms > 0">
  <a [routerLink]="'employee'">employee</a>
  <app-header></app-header>
  <button (click)="toggle()">Add title</button>
  <!--  {{roomlist | json}}-->
  <!--  {{rooms$ | async |json}}-->
  <h1>number of rooms: {{roomsCount$ | async}}</h1>
  {{getError$ |async}}
  <div *ngIf="rooms$ | async as rooms">

    <app-rooms-list [title]="title" [rooms]="rooms" (selectedRoom)="selectRoom($event)"></app-rooms-list>
  </div>

  <div>
    <button (click)="addRoom()">Add Room</button>
  </div>

  <div>
    <button (click)="updateRoom()">Update Room</button>
  </div>

  <div>
    <button (click)="deleteRoom()">Delete Room</button>
  </div>

  <div *ngIf="selectedRoom">
    <p>{{selectedRoom | json}}</p>
  </div>
</div>
<router-outlet></router-outlet>
